.app {
  &__form {
    border: 1px solid #d14d4d;
    margin: 50px auto;
    display: flex;
    padding: 10px;
    max-width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    input {
      margin-top: 10px;
      padding: 5px;

      &[type="email"],
      &[type="password"],
      &[type="name"] {
        padding-left: 5px;
        min-width: 300px;
        width: auto;
      }

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        min-width: 100px;
        margin-top: 0px;
      }
    }
  }

  &__action {
    margin-top: 10px;
    display: flex;
    align-items: center;

    p {
      flex: 1 0;
      margin: 0;
      margin-right: 10px;
    }
  }
}
