@import "./main/tasks.scss";
@import "./main/timer.scss";
@import "./signIn/signIn.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}

// header
.app {
  &__header {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(209, 77, 77);
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: rgb(136, 136, 136);
      font-size: 18px;

      &:hover {
        color: rgb(58, 58, 58);
      }
    }

    h3 {
      color: #888888;
      font-size: 18px;
      margin-right: 10px;
      margin-bottom: 0px;
    }
  }

  &__logo {
    flex: 1 0;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 5px dashed gray;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 9999;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-225deg);
  }
}
