@import "./main/tasks.scss";
@import "./main/timer.scss";
@import "./signIn/signIn.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}

// header
.app {
  &__header {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(209, 77, 77);
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: rgb(136, 136, 136);
      font-size: 18px;

      &:hover {
        color: rgb(58, 58, 58);
      }
    }

    h3 {
      color: #888888;
      font-size: 18px;
      margin-right: 10px;
      margin-bottom: 0px;
    }
  }

  &__logo {
    flex: 1 0;
  }
}
